{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Sign In</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar%}

{% block content %}
<style>
    /* class from form */
    .alert-danger {
        background: none;
        border: 1px solid rgb(109, 107, 107);
        color:  rgb(255, 255, 255);
    }
    #div_id_username {
        margin-top: 0.8rem;
    }
    #div_id_password {
        margin-top: 0.8rem;
    }
    #id_username {
        border:none;
    }
    #id_password {
        border: none;
    }
</style>
    <div class="login-row">
        <div class="login-col">
            <h2>Sign in</h2>
            <form action="#" method="Post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="sign-in-btn">Sign in</button>
                <a class="sign-in-btn-cancel" type="button" href="{% url 'blog:home' %}">Cancel</a>
            </form>
            <small class="login-small">Need an account?<a class="login-a" href="{% url 'users:register' %}">Sign Up</a></small>
        </div>
    </div>
{% endblock content %}