{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Sign In</title>
{% endblock title %}

{% block content %}
<style>
    .login-row{
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-col{
        background: rgba(51, 51, 153, 0.8);
        padding: 1rem;
        margin: 1rem;
        flex: 0 0 30%;
        color: rgb(192, 192, 192);
    }
    /* class from form */
    .alert-danger {
        background: none;
        border: 1px solid rgb(109, 107, 107);
        color:  rgb(255, 153, 0);
    }
    #div_id_username {
        margin-top: 1rem;
    }
    #div_id_password {
        margin-top: 1rem;
    }
    .login-small {
        display: block;
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    .login-a {
        margin-left: 0.5rem !important;
        text-decoration: none !important;
        color: rgb(255, 153, 0) !important;
    }
    
</style>
    <div class="login-row">
        <div class="login-col">
            <h2>Sign In Form</h2>
            <form action="#" method="Post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn-sm mt-3">Sign In</button>
            </form>
            <small class="login-small">Need an account?<a class="login-a" href="{% url 'users:register' %}">Sign Up</a></small>
        </div>
    </div>
{% endblock content %}