{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register</title>
{% endblock title %}

{% block content %}

<style>
    .register-form-row {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .register-form-col {
        /* border: 1px solid blue; */
        background: rgba(51, 51, 153, 0.8);
        color: rgb(192, 192, 192);
        padding: 1rem;
        margin: 1rem;
        flex: 0 0 30%;
    }
    .register-form-small {
        display: block;
        margin-top: 0.5rem;
        font-size: 0.8rem;
    }
    .register-form-small a {
        text-decoration: none;
        color: rgb(255, 153, 0);
        margin-left: 0.5rem;
    }
    #div_id_username {
        margin-top: 1rem;
    }
    #div_id_email {
        margin-top: 1rem;
    }
    #div_id_password1 {
        margin-top: 1rem;
    }
    #div_id_password2 {
        margin-top: 1rem;
    }
    #hint_id_username {
        display: none;
    }
    #hint_id_password1 {
        display: none;
    }
    #hint_id_password2 {
        display: none;
    }
</style>
    <div class="register-form-row">
        <div class="register-form-col">
            <h2>Register Form</h2>
            <form action="#" method="Post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary btn-sm mt-3">Submit</button>
            </form>
            <small class="register-form-small">Have an account?<a href="{% url 'users:login' %}">Sign In</a></small>
        </div>
    </div>
{% endblock content %}