{% extends "blog/base.html" %}

{% block title %}
    <title>Posts-{{topic.name}}</title>
{% endblock title %}

{% block content %}
    <div class="topic-post-row">
        <div class="topic-header-container">
            <h2 class="topic-header">{{ topic.name }}</h2>
        </div>
        {% for post in topic.post_set.all %}
        <div class="topic-post-col">
            <img class="topic-post-img" src="{{ post.post_image.url}}" alt="post image">
            <div class="topic-post-text-container">
                <h5 class="topic-post-title">{{ post.title }}</h5>
                <small class="topic-post-author">
                    <i class="fas fa-user topic-user-icon"></i>
                    {{ post.author }}
                </small>
                <small class="topic-date-posted">
                    <i class="fas fa-calendar topic-calendar-icon"></i>
                    {{ post.date_posted|date:"N, d, Y"}}
                </small>
                <i class="fas fa-thumbs-up topic-thumbs-up-icon"></i>
                <span class="topic-likes-count">{{ post.likes.count}}</span>
                <p class="topic-content">{{ post.content|truncatechars:400}}
                    <a class="topic-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}