{% extends "blog/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Create Post</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<style>
    #div_id_title {
        margin-top: 0.5rem;
    }
    #div_id_post_image label {
        margin-bottom: 0;
    }
    #div_id_content {
        margin-top: 0.5rem;
    }
    #div_id_content textarea{
        height: 150px;
    }
    #div_id_topic {
        margin-top: 0.5rem;
    }
    .requiredField {
        margin-bottom: 0.5rem;
    }
    #error_1_id_title {
        display: none;
    }
    #error_1_id_post_image {
        display: none;
    }
    #error_1_id_content {
        display: none;
    }
    #error_1_id_topic {
        margin-bottom: 0.5rem;
    }
    #id_title {
        border: none;
        box-shadow: none;
        background: rgb(255, 255, 255);
    }
    #id_content {
        border: none;
        box-shadow: none;
        background: rgb(255, 255, 255);
    }
    #id_topic {
        border: none;
        box-shadow: none;
    }
    #id_post_image {
        font-size: 0.8rem;
    }
    strong {
        color: rgb(255, 184, 51);
        font-size: 0.8rem;
        font-family: sans-serif;
    }
</style>
<div class="create-post-bg-img">
    <div class="form-row">
        <div class="form-col">
            <h2>Create Post</h2>
            <form method="POST" action="#" value="post.pk"enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" name="post.id" class="create-post-btn">Submit</button>
                <a type="button" href="{% url 'blog:home' %}" class="create-post-btn-cancel">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}