{% extends "blog/base.html" %}

{% block title %}
    <title>Blog Home</title>
{% endblock title %}

{% block content %}
    <div class="row-posts">
        <div class="title-latest">
            <h2>Latest Post</h2>
        </div>
        <div class="col-latest">
            <div class="container-items">
                <img class="img-latest" src="{{ latest_post.post_image.url }}" alt="image coming soon">
                <div class="container-text">
                    <small class="small-author">
                        <i class="fas fa-user font-awesome-user"></i> {{ latest_post.author }}
                    </small>
                    <small class="small-date-posted">
                        <i class="fas fa-calendar font-awesome-calendar"></i>
                        {{ latest_post.date_posted|date:"N, d, Y"}}
                    </small>
                    <h3>{{ latest_post.title }}</h3>
                    <p>{{ latest_post.content|truncatechars:500 }}<small>Read More</small></p>
                </div>
            </div>
        </div>
        <!-- <div style="display: flex; margin-top:1rem; margin-left: 3rem;">
            {% for post in posts%}
            <div style="margin: 1rem 1rem 0 0; flex: 0 0 20%; padding: 0.5rem; border-radius: 5px;
                border: 1px solid rgb(54, 54, 54); color: white">
                <img style="width: 100%;" src="{{ post.post_image.url }}" alt="image coming soon">
                <small style="font-size: 0.8rem;">
                    <i class="fas fa-user" style="color: grey; font-size: 1.2rem;"></i> {{ post.author }}
                </small>
                <small style="font-size: 0.8rem; margin-left: 0.5rem;">
                    <i class="fas fa-calendar" style="color: grey; font-size: 1.2rem;"></i>
                    {{ post.date_posted|date:"N, d, Y"}}
                </small>
                <h4 style="margin-top: 1rem;">{{ post.title }}</h4>
                <p style="margin-top: 0.5rem; font-size: 0.9rem;">{{ post.content|truncatechars:100 }}<small>Read More</small></p>
            </div>
            {% endfor %}
        </div> -->
    </div>
{% endblock content %}
        
        
