{% extends "blog/base.html" %}

{% block title %}
    <title>Blog Home</title>
{% endblock title %}

{% block content %}
    <div class="post-main-container">
        <div style="flex: 0 0 70%">
            <div class="post-latest-post-container">
                <h1 class="post-latest-header-title">
                    Latest Stories
                </h1>
                {% for post in latest_post %}
                <div class="post-latest">
                    <img class="post-latest-img" src="{{ post.post_image.url }}" alt="post image">
                    <div class="post-latest-text-container">
                        <h4 class="post-latest-post-title">{{ post.title}}</h4>
                        <small class="post-latest-post-author">
                            <i class="fas fa-user post-latest-user-icon"></i>
                            {{ post.author }}
                        </small>
                        <small class="post-latest-date-posted">
                            <i class="fas fa-calendar post-latest-calendar-icon"></i>
                            {{ post.date_posted|date:"N, d, Y"}}
                        </small>
                        <i class="fas fa-thumbs-up post-latest-thumbs-up-icon"></i>
                        <span class="post-latest-likes-count">{{ post.likes.count}}</span>
                       
                        <p class="post-latest-content">
                            {{ post.content|truncatechars:200}}
                            <a class="post-latest-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="top-stories-container">
            <h1 class="top-stories-header">
                Top Stories
            </h1>
            {% for post in posts%}
            <div class="top-stories">
                <div class="top-stories-text-container">
                    <img class="top-stories-img" src="{{ post.post_image.url }}" alt="post image">
                    <div style=" flex: 0 0 60%; margin-left: 0.5rem;">
                        <h6 class="top-stories-post-title">{{ post.title|truncatechars:15 }}</h6>
                        <small class="top-stories-author">
                            <i class="fas fa-user top-stories-user-icon"></i> {{ post.author }}
                        </small>
                        <small class="top-stories-calendar">
                            <i class="fas fa-calendar top-stories-calendar-icon"></i>
                            {{ post.date_posted|date:"N, d, Y"}}
                        </small>
                        <i class="fas fa-thumbs-up top-stories-thumbs-up-icon"> </i>
                        <span class="top-stories-post-like-count">{{ post.likes.count }}</span>
                    </div>
                    <p class="top-stories-post-content">
                        {{ post.content|truncatechars:100 }}
                        <a class="top-stories-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}
    
        
        
