{% extends "blog/base.html" %}

{% block title %}
    <title>Welcome to PawPal</title>
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="landing-page-bg">
    <nav class="landing-page-nav-bg">
        <ul class="landing-page-nav-container">
            <li class="landing-page-nav-item">
                <a class="landing-page-nav-link" href="{% url 'blog:home' %}">Explore</a>
            </li>
            <li class="landing-page-nav-item">
                <a class="landing-page-nav-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="landing-page-nav-item">
                <a class="landing-page-nav-link" href="{% url 'users:login' %}">Sign In</a>
            </li>
        </ul>
    </nav>
    <div style="background: rgba(70, 32, 0, 0.1);">
        <div class="landing-page-container">
            <div class="landing-page-text-container">
                <h1>Best of friends</h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}