{% extends "blog/base.html" %}

{% block title %}
 <title>{{ user.username}}'s Posts</title>
{% endblock title %}

{% block content %}
<div class="post-main-container">
    <div class="post-row">
        <div class="post-col">
            {% for topic in topics %}
                {% if topic.name == "Health" %}
                <div class="post-header-container">
                    <h2 class="post-topic-header">{{ topic.name }}
                    </h2>
                </div>
                {% endif %}
            {% endfor %}
            {% for post in posts %}
                {% if post.topic.name == "Health" %}
                <div class="post-latest">
                    <img class="post-latest-img" src="{{ post.post_image.url }}" alt="post image">
                    <div class="post-latest-text-container">
                        <h5 class="post-latest-post-title">{{ post.title}}</h5>
                        <small class="post-latest-post-author">
                            <i class="fas fa-user post-latest-user-icon"></i>
                            {{ post.author }}
                        </small>
                        <small class="post-latest-date-posted">
                            <i class="fas fa-calendar post-latest-calendar-icon"></i>
                            {{ post.date_posted|date:"N, d, Y"}}
                        </small>
                        <i class="fas fa-thumbs-up post-latest-thumbs-up-icon"></i>
                        <span class="post-latest-likes-count">{{ post.likes.count}}</span>
                    
                        <p class="post-latest-content">
                            {{ post.content|truncatechars:245}}
                            <a class="post-latest-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                        </p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-col">
            {% for topic in topics %}
                {% if topic.name == "Grooming" %}
                <div class="post-header-container">
                    <h2 class="post-topic-header">{{ topic.name }}</h2>
                </div>
                {% endif %}
            {% endfor %}
            {% for post in posts %}
                {% if post.topic.name == "Grooming" %}
                    <div class="post-latest">
                        <img class="post-latest-img" src="{{ post.post_image.url }}" alt="post image">
                        <div class="post-latest-text-container">
                            <h5 class="post-latest-post-title">{{ post.title}}</h5>
                            <small class="post-latest-post-author">
                                <i class="fas fa-user post-latest-user-icon"></i>
                                {{ post.author }}
                            </small>
                            <small class="post-latest-date-posted">
                                <i class="fas fa-calendar post-latest-calendar-icon"></i>
                                {{ post.date_posted|date:"N, d, Y"}}
                            </small>
                            <i class="fas fa-thumbs-up post-latest-thumbs-up-icon"></i>
                            <span class="post-latest-likes-count">{{ post.likes.count}}</span>
                        
                            <p class="post-latest-content">
                                {{ post.content|truncatechars:245}}
                                <a class="post-latest-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-col">
            {% for topic in topics %}
                {% if topic.name == "Exercise" %}
                <div class="post-header-container">
                    <h2 class="post-topic-header">{{ topic.name }}</h2>
                </div>
                {% endif %}
            {% endfor %}
            {% for post in posts %}
                {% if post.topic.name == "Exercise" %}
                    <div class="post-latest">
                        <img class="post-latest-img" src="{{ post.post_image.url }}" alt="post image">
                        <div class="post-latest-text-container">
                            <h5 class="post-latest-post-title">{{ post.title}}</h5>
                            <small class="post-latest-post-author">
                                <i class="fas fa-user post-latest-user-icon"></i>
                                {{ post.author }}
                            </small>
                            <small class="post-latest-date-posted">
                                <i class="fas fa-calendar post-latest-calendar-icon"></i>
                                {{ post.date_posted|date:"N, d, Y"}}
                            </small>
                            <i class="fas fa-thumbs-up post-latest-thumbs-up-icon"></i>
                            <span class="post-latest-likes-count">{{ post.likes.count}}</span>
                        
                            <p class="post-latest-content">
                                {{ post.content|truncatechars:245}}
                                <a class="post-latest-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-col">
            {% for topic in topics %}
                {% if topic.name == "Food" %}
                <div class="post-header-container">
                    <h2 class="post-topic-header">{{ topic.name }}</h2>
                </div>
                {% endif %}
            {% endfor %}
            {% for post in posts %}
                {% if post.topic.name == "Food" %}
                    <div class="post-latest">
                        <img class="post-latest-img" src="{{ post.post_image.url }}" alt="post image">
                        <div class="post-latest-text-container">
                            <h5 class="post-latest-post-title">{{ post.title}}</h5>
                            <small class="post-latest-post-author">
                                <i class="fas fa-user post-latest-user-icon"></i>
                                {{ post.author }}
                            </small>
                            <small class="post-latest-date-posted">
                                <i class="fas fa-calendar post-latest-calendar-icon"></i>
                                {{ post.date_posted|date:"N, d, Y"}}
                            </small>
                            <i class="fas fa-thumbs-up post-latest-thumbs-up-icon"></i>
                            <span class="post-latest-likes-count">{{ post.likes.count}}</span>
                            <p class="post-latest-content">
                                {{ post.content|truncatechars:245}}
                                <a class="post-latest-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="post-col">
            {% for topic in topics %}
                {% if topic.name == "Adoption" %}
                <div class="post-header-container">
                    <h2 class="post-topic-header">{{ topic.name }}</h2>
                </div>
                {% endif %}
            {% endfor %}
            {% for post in posts %}
                {% if post.topic.name == "Adoption" %}
                    <div class="post-latest">
                        <img class="post-latest-img" src="{{ post.post_image.url }}" alt="post image">
                        <div class="post-latest-text-container">
                            <h5 class="post-latest-post-title">{{ post.title}}</h5>
                            <small class="post-latest-post-author">
                                <i class="fas fa-user post-latest-user-icon"></i>
                                {{ post.author }}
                            </small>
                            <small class="post-latest-date-posted">
                                <i class="fas fa-calendar post-latest-calendar-icon"></i>
                                {{ post.date_posted|date:"N, d, Y"}}
                            </small>
                            <i class="fas fa-thumbs-up post-latest-thumbs-up-icon"></i>
                            <span class="post-latest-likes-count">{{ post.likes.count}}</span>
                        
                            <p class="post-latest-content">
                                {{ post.content|truncatechars:245}}
                                <a class="post-latest-read-more" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="top-stories-container">
        {% for topic in topics %}
            {% if topic.name == "Misc." %}
            <div class="top-stories-link">
                <h5 class="top-stories-header">{{ topic.name }} Posts</h5>
            </div>
            {% endif %}
        {% endfor %}
        <div class="top-stories">
            {% for post in posts%}
                {% if post.topic.name == "Misc." %}
                    <div class="top-stories-text-container">
                        <img class="top-stories-img" src="{{ post.post_image.url }}" alt="post image">
                        <div class="top-stories-content-container">
                            <h6 class="top-stories-post-title">{{ post.title|truncatechars:19 }}</h6>
                            <small class="top-stories-author">
                                <i class="fas fa-user top-stories-user-icon"></i> {{ post.author }}
                            </small>
                            <small class="top-stories-calendar">
                                <i class="fas fa-calendar top-stories-calendar-icon"></i>
                                {{ post.date_posted|date:"N, d, Y"}}
                            </small>
                            <i class="fas fa-thumbs-up top-stories-thumbs-up-icon"> </i>
                            <span class="top-stories-post-like-count">{{ post.likes.count }}</span>
                            <a class="top-stories-read-more1" href="{% url 'blog:post-detail' post.pk %}">Read</a>
                            <p class="top-stories-content" >{{ post.content|truncatechars:200}}
                                <a class="top-stories-read-more2" href="{% url 'blog:post-detail' post.pk %}">Read more</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}