* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.btn {
    box-shadow: none!important;
    outline: none!important;
}
.textinput {
    box-shadow: none!important;
    outline: none!important;
}
.emailinput {
    box-shadow: none!important;
    outline: none!important;
}
/* LANDING_PAGE.HTML */
.landing-page-bg {
    min-height: 100vh;
    background: url("images/lp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.landing-page-nav-bg {
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.9),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0));
}
.landing-page-nav-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-bottom: 0; 
    height: 56px;
    padding-left: 0;
}
.landing-page-nav-item {
    padding: 1rem; 
    list-style-type: none;
}
.landing-page-nav-item:hover { 
    background:  rgb(51, 27, 0)
}
.landing-page-nav-link {
    text-decoration: none; 
    color: white; 
    font-size: 0.9rem;
}
.landing-page-nav-link:hover {
    color: white; 
}
.landing-page-container {
    margin: 0 4rem;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.landing-page-text-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 0 0 50%;
}
.landing-page-header-container {
    color: white; 
    margin-top: 5rem;
}
.landing-page-title {
    text-align: center; 
    font-size: 2.9rem;
    color:rgb(255, 255, 255)
}
.landing-page-paragraph {
    text-align: center; 
    font-size: 1.3rem;
    color: rgb(240, 240, 240)
}
@media screen and (max-width: 980px) {
    .landing-page-text-container {
        flex: 0 0 100%;
    }
    .landing-page-header-container {
        margin-top: 2rem;
    }
}
@media screen and (max-width: 560px) {
    .landing-page-container {
        margin: 0 1rem;
    }
}
@media screen and (max-width: 470px) {
    .landing-page-title {
        font-size: 2.5rem;
    }
    .landing-page-paragraph {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 280px) {
    .landing-page-container {
        margin: 0;
    }
}
/* END LANDING_PAGE.HTML */

/* BASE.HTML */
/* nav-bar */
.bg-img {
    min-height: 70vh;
    background: url("images/bg.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.nav-bg-color {
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.9),
   rgb(255, 255, 255, 0)); 
     min-height: 70vh;
}
.navbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.brand-name {
    display: flex;
}
.brand-link {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(255, 165, 0);
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.brand-link:hover {
    background:  rgb(51, 27, 0);
    color: rgb(255, 165, 0) !important;
}
.btn-toggle {
    outline: none !important;
    border: none;
    background: transparent;
    display: none;
}
.font-awesome {
    font-size: 2.5rem;
    color: white;
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    align-items: center;
}
.link {
    list-style-type: none;
    padding: 1rem;
}
.link:hover {
    background: rgb(51, 27, 0);
}
.link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}
.link a:hover {
    color: rgb(255, 255, 255)
}
.show-links {
    align-items: flex-start;
    flex: 0 0 100%;
    padding-left: 0;
    flex-direction: column;
}
.profile-container {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}
.profile-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 1rem;
    /* border: 1px solid white; */
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
}
.profile-small-container {
    margin-left: 0.5rem;
    padding-right: 1.5rem;
}
.hide-div {
    display: none;
}
.show-div {
    display: block;
}
.profile-main-img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    cursor: pointer;
}
.profile-user-name {
    color: rgb(255, 255, 255); 
    font-size: 0.8rem; 
    display: block;
}
.profile-user-email {
    color: rgb(255, 255, 255); 
    display: block;
    font-size: 0.8rem;
}
@media screen and (max-width: 700px) {
    .navbar-container {
        justify-content: flex-start;
    }
    .brand-name {
        flex: 0 0 100%;
        justify-content: space-between;
    }
    .btn-toggle {
        display: block;
        padding: 0.25rem 1rem;
    }
    .links {
        height: 0;
        overflow: hidden;
    }
    .link {
        width: 100%
    }
}
@media screen and (max-width: 1025px) {
    .bg-img {
        min-height: 30vh;
    }
}
@media screen and (max-width: 415px) {
    .bg-img {
        min-height: 25vh;
    }
}
/* end nav-bar */
/* END BASE.HTML */

/* INDEX.HTML */
.post-main-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 7rem;
    padding: 1.5rem 0;
}
.post-row {
    flex: 0 0 70%;
}
.post-col {
    margin-bottom: 3rem;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}
.post-header-container {
    flex: 0 0 100%;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
    background:  rgb(230, 149, 0);
}
.post-topic-header {
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    margin-bottom: 0 !important;
    font-weight: bold;
}
.post-topic-small {
    font-size: 0.9rem;
    color: rgb(221, 221, 221);
}
.post-latest {
    flex: 0 0 100%; 
    display: flex; 
    flex-wrap: wrap; 
    background:rgb(231, 231, 231);
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}
.post-latest:hover {
    background: rgb(201, 201, 201);
}
.post-latest-img {
    width:160px;
}
.post-latest-text-container {
    flex:0 0 75%;
    color: rgb(100, 100, 100);
    margin-left: 0.5rem;
    height: 120px;
}
.post-latest-post-title {
    margin-bottom: 0; 
    text-transform: capitalize;
    color: rgb(51, 51, 51);
}
.post-latest-post-author{
    font-size: 0.9rem;
}
.post-latest-user-icon {
    color: rgb(61, 61, 61); 
    font-size: 0.9rem;
}
.post-latest-date-posted {
    margin-left: 0.5rem; 
    font-size: 0.9rem;
}
.post-latest-calendar-icon {
    color: rgb(61, 61, 61); 
    font-size: 0.9rem;
}
.post-latest-thumbs-up-icon {
    margin-left: 0.5rem;
    color: rgb(61, 61, 61); 
    font-size: 0.9rem;
}
.post-latest-likes-count {
    font-size: 0.8rem;
}
.post-latest-content {
    margin-bottom: 0 !important;
    font-size: 0.9rem;
}
.post-latest-read-more {
    color:rgb(230, 138, 0);
    font-size: 0.8rem;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
.post-latest-read-more:hover {
    color:rgb(255, 153, 0);
}
.top-stories-container {
    display: flex; 
    flex-wrap: wrap; 
    flex: 0 0 20%; 
    justify-content: center;
    border-radius: 5px;
    align-content: flex-start;
    padding: 0rem !important;
}
.top-stories-link {
    background: rgb(230, 149, 0);
    flex: 0 0 73%;
    border-radius: 5px;
    padding: 0.4rem;
    padding-bottom: 0;
    text-decoration: none;
}
.top-stories-header {
    text-align: center;
    color: white;
    font-weight: bold;
}
.top-stories-small-link {
    font-size: 0.8rem;
    margin-top: 0;
    display: block;
    color: rgb(221, 221, 221);
}
.top-stories {
    flex: 0 0 80%; 
}
.top-stories-text-container {
    color:  rgb(100, 100, 100);
    background:rgb(201, 201, 201);
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-bottom: 0;
}
.top-stories-text-container:hover {
    background: rgb(180, 180, 180);
}
.top-stories-img {
    width: 100%
}
.top-stories-content-container {
    margin-left: 0rem;
}
.top-stories-post-title {
    margin-bottom: 0;
    font-size: 0.9rem;
    text-transform: capitalize;
    margin-top: 0.5rem;
    color: rgb(51, 51, 51); 
}
.top-stories-author {
    font-size: 0.8rem;
}
.top-stories-user-icon {
    color:  rgb(51, 51, 51); 
    font-size: 0.8rem;
}
.top-stories-calendar {
    font-size: 0.8rem; 
    display: block
}
.top-stories-calendar-icon {
    color: rgb(51, 51, 51); 
    font-size: 0.8rem;
}
.top-stories-thumbs-up-icon {
    color:  rgb(51, 51, 51);
    font-size: 0.8rem;
}
.top-stories-post-like-count {
    font-size: 0.8rem;
}
.top-stories-read-more1 {
    font-size: 0.8rem;
    text-decoration: none;
    color:rgb(240, 144, 1);
}
.top-stories-read-more1:hover {
    color:rgb(255, 153, 0);
}
.top-stories-content {
    font-size: 0.8rem;
    display: none;
}
.top-stories-read-more2 {
    font-size: 0.8rem;
    text-decoration: none;
    color:rgb(240, 144, 1);
    display: none
}
.top-stories-read-more2:hover {
    color:rgb(255, 153, 0);
}
@media screen and (max-width: 1250px) {
    .post-row {
        flex: 0 0 100%;
    }
    .top-stories-container {
        flex: 0 0 100%;
    }
    .top-stories-link {
        flex: 0 0 100%;
    }
    .top-stories-small-link {
        display: inline-block;
    }
    .top-stories {
        flex: 0 0 100%;
        margin-top: 0.5rem;
    }
    .top-stories-text-container {
        flex: 0 0 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0.7rem;
        padding-bottom: 0.3rem;
        margin: 0 0 1rem 0;
    }
    .top-stories-img {
        width: 160px;
    }
    .top-stories-content-container {
        margin-left: 0.5rem;
        flex: 0 0 80%
    }
    .top-stories-post-title {
        font-size: 1.25rem;
        margin-top: 0;
    }
    .top-stories-author {
        font-size: 0.9rem;
    }
    .top-stories-user-icon {
        font-size: 0.9rem;
    }
    .top-stories-calendar {
        font-size: 0.9rem;
        margin-left: 0.5rem;
        display: inline-block;
    }
    .top-stories-calendar-icon {
        font-size: 0.9rem;
    }
    .top-stories-thumbs-up-icon {
        font-size: 0.9rem;
        margin-left: 0.5rem;
    }
    .top-stories-post-like-count {
        font-size: 0.8rem;
    }
    .top-stories-content {
        display: block;
        font-size: 0.9rem;
    }
    .top-stories-read-more1 {
        display: none
    }
    .top-stories-read-more2 {
        display: block
    }
}
@media screen and (max-width: 1090px) {
    .top-stories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .top-stories-text-container {
        flex: 0 0 49.2%;
        justify-content: center;
    }
    .top-stories-img {
        flex: 0 0 98%
    }
    .top-stories-content-container {
        margin-left: 0;
        flex: 0 0 98%;
    }
    .top-stories-post-title {
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 985px) {
    .post-main-container {
        margin: 0 1rem;
    }
    .post-header-container {
        flex: 0 0 98%;
    }
    .post-latest {
        flex:0 0 48%;
        justify-content: center;
    }
    .post-latest-img {
        flex: 0 0 98%
    }
    .post-latest-text-container {
        flex: 0 0 98%;
        margin-left: 0rem;
        height: 200px;
    }
    .post-latest-post-title {
        margin-top: 0.5rem;
    }

}
@media screen and (max-width: 830px) {
    .post-header-container {
        flex: 0 0 97%;
    }
    .post-latest {
        flex:0 0 97%;
    }
    .post-latest-img {
        flex: 0 0 98%
    }
    .post-latest-text-container {
        flex: 0 0 98%;
    }
    .post-latest-post-author{
        font-size: 0.9rem;
    }
    .post-latest-user-icon {
        color: rgb(61, 61, 61); 
        font-size: 0.9rem;
    }
    .post-latest-date-posted {
        margin-left: 0.5rem; 
        font-size: 0.9rem;
    }
    .post-latest-calendar-icon {
        color: rgb(61, 61, 61); 
        font-size: 0.9rem;
    }
    .post-latest-thumbs-up-icon {
        margin-left: 0.5rem;
        color: rgb(61, 61, 61); 
        font-size: 0.9rem;
    }
    .post-latest-likes-count {
        font-size: 0.8rem;
    }
    .post-latest-content {
        margin-bottom: 0 !important;
        font-size: 0.9rem;
    }
    .post-latest-read-more {
        color:rgb(230, 138, 0);
        font-size: 0.8rem;
        text-decoration: none;
    }
    .post-latest-read-more:hover {
        color:rgb(255, 153, 0);
    }
}
@media screen and (max-width: 665px) {
    .top-stories-link {
        flex: 0 0 98%;
    }
    .top-stories { 
        justify-content: center;
    }
    .top-stories-text-container {
        flex: 0 0 98%;
    }
}
@media screen and (max-width: 380px) {
    .post-main-container {
        margin: 0;
    }
    .post-latest-text-container {
        height: 250px;
    }
}
/* END INDEX.HTML */

/* CATEGORY.HTML */
.topic-post-row {
    margin: 0 7rem;
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.topic-header-container {
    flex: 0 0 100%;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background:  rgb(230, 149, 0);
}
.topic-header {
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    margin-bottom: 0 !important;
    font-weight: bold;
}
.topic-post-col {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background:rgb(231, 231, 231);
    transition: all 0.1s ease-in-out;
}
.topic-post-col:hover {
    background: rgb(201, 201, 201);
}
.topic-post-img {
    width: 200px;
}
.topic-post-text-container {
    margin-left: 0.5rem;
    flex: 0 0 80%;
    height: 150px;
    color:  rgb(100, 100, 100)
    /* word-break: break-all; */
}
.topic-post-title {
    margin-bottom: 0; 
    text-transform: capitalize;
    color: rgb(51, 51, 51);
}
.topic-post-author{
    font-size: 0.9rem;
}
.topic-user-icon {
    color: rgb(51, 51, 51); 
    font-size: 0.9rem;
}
.topic-date-posted {
    margin-left: 0.5rem; 
    font-size: 0.9rem;
}
.topic-calendar-icon {
    color:rgb(51, 51, 51); 
    font-size: 0.9rem;
}
.topic-thumbs-up-icon {
    margin-left: 0.5rem;
    color: rgb(51, 51, 51); 
    font-size: 0.9rem;
}
.topic-likes-count {
    font-size: 0.8rem;
}
.topic-content {
    margin-bottom: 0 !important;
    font-size: 0.9rem;
}
.topic-read-more {
    color:rgb(230, 138, 0);
    font-size: 0.8rem;
    text-decoration: none;
}
.topic-read-more:hover {
    color:rgb(255, 153, 0);
}
@media screen and (max-width: 1290px) {
    .topic-post-row {
        margin: 0 5rem;
    }
}
@media screen and (max-width: 1225px) {
    .topic-post-row {
        margin: 0 3rem;
    }
}
@media screen and (max-width: 1160px) {
    .topic-post-row {
        justify-content: space-between;
    }
    .topic-post-col {
        flex: 0 0 32%;
    }
    .topic-post-img {
        width: 100%
    }
    .topic-post-text-container {
        margin-left: 0;
        flex: 0 0 100%;
        height: 250px;
    }
    .topic-post-title {
       font-size: 1rem;
       margin-top: 0.5rem;
    }
    .topic-post-author{
        font-size: 0.8rem;
    }
    .topic-user-icon {
        font-size: 0.8rem;
    }
    .topic-date-posted {
        font-size: 0.8rem;
    }
    .topic-calendar-icon {
        font-size: 0.8rem;
    }
    .topic-thumbs-up-icon {
        font-size: 0.8rem;
    }
    .topic-content {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 930Px) {
    .topic-post-row {
        margin: 0 2rem;
    }
    .topic-post-col {
        flex: 0 0 49%
    }
}
@media screen and (max-width: 620Px) {
    .topic-post-row {
        margin: 0 1rem;
    }
    .topic-post-col {
        flex: 0 0 100%
    }
    .topic-content {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 335Px) {
    .topic-post-row {
        margin: 0 0.5rem;
    }
}
@media screen and (max-width: 325Px) {
    .topic-post-text-container {
        height: 300px;
    }
}
/* END CATEGORY.HTML */

/* POST_DETAIL.HTML */
.post-detail-row {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.post-detail-message {
    color: green;
    font-size: 1.3rem;
}
.post-detail-header {
    flex: 0 0 80%; 
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    background: rgb(230, 149, 0) 
}
.post-detail-col {
    background:rgb(231, 231, 231);
    border-radius: 5px;
    flex: 0 0 80%;
    padding: 0.7rem;
    transition: all 0.1s ease-in-out;
}
.post-detail-col:hover {
    background: rgb(201, 201, 201);
}
.post-detail-img-text-container {
    flex: 0 0 70%; 
    display: flex; 
    flex-wrap: wrap;
    align-items: flex-end;
}
.post-detail-img {
    width: 200px;
    height: 150px
}
.post-detail-text-container {
    margin-left: 0.5rem;
    color: rgb(100, 100, 100)
}
.post-detail-title {
    color: rgb(51, 51, 51);
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.post-detail-author {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.5rem;
}
.post-detail-author-icon {
    color:rgb(51, 51, 51); 
    font-size: 1.2rem;
}
.post-detail-date-posted {
    margin-bottom: 0.5rem; 
    font-size: 0.9rem;
    display: block;
}
.post-detail-calendar-icon {
    color:rgb(51, 51, 51); 
    font-size: 1.2rem;
}
.post-detail-like-count {
    font-size: 0.9rem;
    text-decoration: none;
    display: block;
    color:  rgb(100, 100, 100);
    transition: all 0.1s ease-in-out;
}
.post-detail-like-count:hover {
    color: rgb(255, 165, 0);
}
.post-detail-thumbs-up-icon {
    color:rgb(51, 51, 51); 
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
}
.post-detail-thumbs-up-icon:hover {
    color: rgb(240, 157, 3);
}
.post-detail-content-container {
    flex: 0 0 70%
}
.post-detail-content-paragraph {
    margin-top: 0.5rem; 
    font-size: 0.9rem; 
    color: rgb(100, 100, 100)
}
@media screen and (max-width: 690px) {
    .post-detail-row {
        margin: 0 1rem;
    }
    .post-detail-header {
        flex: 0 0 100%; 
    }
    .post-detail-col {
        flex: 0 0 100%;
    }
}
@media screen and (max-width: 575px) {
    .post-detail-row {
        margin: 0 0.5rem;
    }
    .post-detail-img {
        width: 100%
    }
    .post-detail-text-container {
        flex: 0 0 100%;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .post-detail-content-paragraph {
        margin-top: 0 !important;
    }
    .post-detail-author {
        display: inline-block;
        margin-bottom: 0;
    }
    .post-detail-date-posted {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0.5rem
    }
    .post-detail-like-count {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0.5rem
    }
}
@media screen and (max-width: 325px) {
    .post-detail-title {
        font-size: 1.3rem;
    }
    .post-detail-author-icon {
        font-size: 0.8rem;
    }
    .post-detail-calendar-icon {
        font-size: 0.8rem;
    }
    .post-detail-thumbs-up-icon {
        font-size: 0.8rem; 
    }
    .post-detail-author {
        font-size: 0.8rem;
    }
    .post-detail-date-posted {
        font-size: 0.8rem;
    }
    .post-detail-like-count {
        font-size: 0.8rem;
    }
    .post-detail-content-paragraph {
        font-size: 0.8rem; 
    }
}
/* END POST_DETAIL.HTML */

/* REGISTER.HTML */
.register-bg-img{
    min-height: 100vh;
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.register-form-row {
    background: linear-gradient(to bottom, rgba(70, 32, 0.8),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0.1));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-form-col {
    background: linear-gradient(to bottom,  rgba(70, 32, 0, 0.5),
    rgba(70, 32, 0, 0.8));
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem 1.5rem;
    width: 400px;
}
.register-form-small {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.register-btn {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(240, 156, 0);
    border: 1px solid  rgb(240, 156, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.8rem;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.register-btn:hover {
    background: rgb(141, 92, 0);
    border: 1px solid  rgb(141, 92, 0);
}
.register-btn-cancel {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(141, 141, 141);
    border: 1px solid  rgb(141, 141, 141);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    text-decoration: none;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.register-btn-cancel:hover {
    background: rgb(49, 49, 49);
    border: 1px solid  rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}
.register-form-small a {
    text-decoration: none;
    color: rgb(255, 153, 0);
    margin-left: 0.5rem;
}
@media screen and (max-width: 410px) {
    .register-form-col {
        width: 100%;
        border-radius: 0;
        padding: 0.5rem;
    }
}
/* END REGISTER.HTML */

/* SIGN_IN.HTML */
.login-bg-img{
    min-height: 100vh;
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-row{
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.8),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0.1));
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.login-message-container {
    flex: 0 0 100%; 
    text-align: center;
    margin-bottom: 0 !important;
}
.login-message-text {
    color: rgb(219, 219, 219); 
    font-size: 1.3rem; 
    margin-bottom: 0 !important;
    padding: 0.5rem 0
}
.login-col{
    background: linear-gradient(to bottom,  rgba(70, 32, 0, 0.5),
    rgba(70, 32, 0, 0.8));
    padding: 1rem 1.5rem;

    width: 400px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
}
.sign-in-btn {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(240, 156, 0);
    border: 1px solid  rgb(240, 156, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.8rem;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.sign-in-btn:hover {
    background: rgb(141, 92, 0);
    border: 1px solid  rgb(141, 92, 0);
}
.sign-in-btn-cancel {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(141, 141, 141);
    border: 1px solid  rgb(141, 141, 141);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    text-decoration: none;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.sign-in-btn-cancel:hover {
    background: rgb(49, 49, 49);
    border: 1px solid  rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}
.login-small {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.login-a {
    margin-left: 0.5rem !important;
    text-decoration: none !important;
    color: rgb(255, 153, 0) !important;
}
@media screen and (max-width: 400px) {
    .login-col{
        padding: 0.5rem;
        width: 100%;
        border-radius: 0;
    }
}
/* END SIGN_IN.HTML */

/* PROFILE.HTML */
.profile-bg-img{
    min-height: 100vh;
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.profile-row {
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.8),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0.1));
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.profile-message-container {
    flex: 0 0 100%; 
    text-align: center;
    margin-bottom: 0 !important;
}
.profile-message-text {
    color: rgb(219, 219, 219); 
    font-size: 1.3rem; 
    margin-bottom: 0 !important;
    padding: 0.5rem 0
}
.profile-col {
    background: linear-gradient(to bottom,  rgba(70, 32, 0, 0.5),
    rgba(70, 32, 0, 0.8));
    width: 400px;
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
}
.profile-img-text {
    display: flex; 
    flex-wrap: wrap; 
    align-items: flex-end; 
    border-bottom: 1px solid rgb(160, 160, 160); 
    padding: 0.5rem 0;
}
.profile-img {
    border-radius: 10px;
    width: 90px;
    height: 67.5px;
}
.profile-small-container {
    margin-left: 0.5rem;
}
.profile-username {
    display: block;
}
.profile-email {
    display: block;
}
.profile-update-btn {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(240, 156, 0);
    border: 1px solid  rgb(240, 156, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.8rem;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.profile-update-btn:hover {
    background: rgb(141, 92, 0);
    border: 1px solid  rgb(141, 92, 0);
}
.profile-update-btn-cancel {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(141, 141, 141);
    border: 1px solid  rgb(141, 141, 141);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    text-decoration: none;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.profile-update-btn-cancel:hover {
    background: rgb(49, 49, 49);
    border: 1px solid  rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 400px) {
    .profile-col {
        width: 400px;
        padding: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 0;
    }
}
/* END PROFILE.HTML */

/* LOGOUT.HTML */
.logout-bg-img{
    min-height: 100vh;
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.logout-row {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.8),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0.1));
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.logout-col {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin-top: 12rem;
    flex: 0 0 100%;
}
.signed-out {
    flex: 0 0 100%
}
.logout-col a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.4rem 0;
    background: rgba(255, 153, 0, 0.8);
    font-size: 1.1rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    width: 150px;
}
/* END LOGOUT.HTML */

/* CREATE_POST.HTML */
.create-post-bg-img {
    min-height: 100vh;
    background: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.form-row {
    background: linear-gradient(to bottom, rgba(70, 32, 0, 0.8),
    rgba(70, 32, 0, 0.4), rgba(70, 32, 0, 0.1));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-col {
    width: 450px;
    color: white;
    padding: 1rem;
    background: linear-gradient(to bottom,  rgba(70, 32, 0, 0.5),
    rgba(70, 32, 0, 0.8));
    padding: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
}
.create-post-btn {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(240, 156, 0);
    border: 1px solid  rgb(240, 156, 0);
    color: rgb(255, 255, 255);
    margin-top: 0.8rem;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.create-post-btn:hover {
    background: rgb(141, 92, 0);
    border: 1px solid  rgb(141, 92, 0);
}
.create-post-btn-cancel {
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    background: rgb(141, 141, 141);
    border: 1px solid  rgb(141, 141, 141);
    color: rgb(255, 255, 255);
    margin-top: 0.5rem;
    text-decoration: none;
    outline: none !important;
    transition: all 0.1s ease-in-out;
}
.create-post-btn-cancel:hover {
    background: rgb(49, 49, 49);
    border: 1px solid  rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 450px) {
    .form-col {
        padding: 0.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 0;
    }
}
/* END CREATE_POST.HTML */