* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
.btn {
    box-shadow: none!important;
    outline: none!important;
}
.textinput {
    box-shadow: none!important;
    outline: none!important;
}
.emailinput {
    box-shadow: none!important;
    outline: none!important;
}

/* BASE.HTML */
/* nav-bar */
.bg-img {
    background: url("images/bg.jpg");
    min-height: 55vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
.bg-color {
    background: rgba(56, 36, 0, 0.3); 
    min-height: 55vh;
}
.navbar-container {
    display: flex;
    flex-wrap: wrap;
    background: rgba(83, 54, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.brand-name {
    display: flex;
}
.brand-link {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(255, 165, 0);
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.brand-link:hover {
    background: rgb(68, 44, 0);
    color: rgb(255, 165, 0) !important;
}
.btn-toggle {
    outline: none !important;
    border: none;
    background: transparent;
    display: none;
}
.font-awesome {
    font-size: 2.5rem;
    color: white;
    
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    align-items: center;
}
.link {
    list-style-type: none;
    padding: 1rem;
}
.link:hover {
    background: rgb(68, 44, 0);
}
.link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}
.link a:hover {
    color: rgb(255, 255, 255)
}
.show-links {
        align-items: flex-start;
        flex: 0 0 100%;
        padding-left: 0;
        flex-direction: column;
    }
@media screen and (max-width: 700px) {
    .navbar-container {
        justify-content: flex-start;
    }
    .brand-name {
        flex: 0 0 100%;
        justify-content: space-between;
    }
    .btn-toggle {
        display: block;
        padding: 0.25rem 1rem;
    }
    .links {
        height: 0;
        overflow: hidden;
    }
    .link {
        width: 100%
    }
}
/* end nav-bar */
/* END BASE.HTML */

/* INDEX.HTML */
.post-main-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 0 5rem;
    padding: 2rem 0;
}
.post-latest-post-container {
    flex: 0 0 70%; 
    display: flex; 
    flex-wrap: wrap; 
}
.post-latest-header-title {
    flex: 0 0 90%; 
    color: rgb(0, 0, 0); 
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}
.post-latest {
    flex: 0 0 90%; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: flex-end;
    margin-bottom: 1rem; 
    color: white; 
    background:rgb(83, 54, 0);
}
.post-latest:hover {
    background:rgb(51, 33, 0);
}
.post-latest-img {
    width:235px;
}
.post-latest-text-container {
    flex: 0 0 65%; 
    color: rgb(221, 221, 221);
    margin: 0.5rem 0.5rem 0.5rem 1rem;
}
.post-latest-post-title {
    margin-bottom: 0.5rem; 
    text-transform: capitalize;
    color: orange;
}
.post-latest-post-author{
    font-size: 0.8rem;
}
.post-latest-user-icon {
    color: rgb(128, 128, 128); 
    font-size: 0.9rem;
}
.post-latest-date-posted {
    margin-left: 0.5rem; 
    font-size: 0.8rem;
}
.post-latest-calendar-icon {
    color: rgb(128, 128, 128); 
    font-size: 0.9rem;
}
.post-latest-thumbs-up-icon {
    margin-left: 0.5rem;
    color: rgb(128, 128, 128); 
    font-size: 0.9rem;
}
.post-latest-likes-count {
    font-size: 0.8rem;
}
.post-latest-content {
    margin-bottom: 0 !important;
    margin-top: 0.5rem; 
    font-size: 0.9rem;
}
.post-latest-read-more {
    color:rgb(255, 153, 0);
    font-size: 0.9rem;
    text-decoration: none;
}
.post-latest-read-more:hover {
    color:rgb(255, 153, 0);
}
.top-stories-container {
    display: flex; 
    margin-top:4rem; 
    flex-wrap: wrap; 
    flex: 0 0 30%; 
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.top-stories-header {
    flex: 0 0 100%; 
    text-align: center; 
    color: rgb(0, 0, 0); 
    letter-spacing: 0.1rem;
}
.top-stories {
    margin-bottom: 1rem;
    flex: 0 0 100%; 
    background: rgb(51, 33, 0); 
    color: rgb(221, 221, 221);
}
.top-stories:hover {
    background: rgb(83, 54, 0);
}
.top-stories-img {
    width: 120px; 
}
.top-stories-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0.5rem;
}
.top-stories-thumbs-up-icon {
    color: rgb(128, 128, 128); 
    font-size: 0.7rem;
}
.top-stories-post-like-count {
    font-size: 0.7rem;
}
.top-stories-author {
    font-size: 0.7rem;
}
.top-stories-user-icon {
    color: rgb(128, 128, 128); 
    font-size: 0.7rem;
}
.top-stories-calendar {
    font-size: 0.7rem; 
}
.top-stories-calendar-icon {
    color: grey; 
    font-size: 0.7rem;
}
.top-stories-post-title {
    margin-bottom: 0;
    text-transform: capitalize;
    color: rgb(255, 153, 0) 
}
.top-stories-post-content {
    flex: 0 0 100%;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
}
.top-stories-read-more {
    font-size: 0.7rem;
    text-decoration: none;
    color:rgb(255, 153, 0);
}
.top-stories-read-more:hover {
    color:rgb(255, 153, 0);
}
/* END INDEX.HTML */